<div class="row">  
  <div class="large-12">
    <%= form_for @car do |f| %>
      <%= f.label :year %>
      <%= select_tag(:year, options_for_select(@years), prompt: "Please Select") %>

    <div class='car_makes'>
    </div>

      <%= f.label :model %>
      <%= f.text_area :model %>

      <%= f.submit "Add" %>
    <% end %>
  </div>
</div>
